<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add 
      name="studentCS" 
      providerName="System.Data.SqlClient" 
      connectionString="Data Source=DANISHU\SQLEXPRESS;Initial Catalog=sis_db;Integrated Security=True"/>
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="15"/>
    </authentication>
    
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime maxRequestLength="2097151"/>
  </system.web>
  
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="contactus.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="forgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Student/studentRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="updates.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Student/SuccessMessage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Notifications/notifications.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Notifications/scholarshipList.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Notifications/Courses.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="feedback.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="feedbackStatus.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Student/RegistrationInstructions.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>